<p id="notice"><%= notice %></p>

<p>
  <strong>Patient ids:</strong>
  <%= @patient.patient_ids %>
</p>

<p>
  <strong>Spell code:</strong>
  <%= @patient.spell_code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Social security number:</strong>
  <%= @patient.social_security_number %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @patient.sex %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @patient.birthday %>
</p>

<p>
  <strong>Residence:</strong>
  <%= @patient.residence %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @patient.nationality %>
</p>

<p>
  <strong>Citizenship:</strong>
  <%= @patient.citizenship %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @patient.photo %>
</p>

<p>
  <strong>Education:</strong>
  <%= @patient.education %>
</p>

<p>
  <strong>Household:</strong>
  <%= @patient.household %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @patient.occupation %>
</p>

<p>
  <strong>Orgnization:</strong>
  <%= @patient.orgnization %>
</p>

<p>
  <strong>Orgnization address:</strong>
  <%= @patient.orgnization_address %>
</p>

<p>
  <strong>Mobile phone:</strong>
  <%= @patient.mobile_phone %>
</p>

<p>
  <strong>Home phone:</strong>
  <%= @patient.home_phone %>
</p>

<p>
  <strong>Home address:</strong>
  <%= @patient.home_address %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @patient.contact %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @patient.contact_phone %>
</p>

<p>
  <strong>Habitual type:</strong>
  <%= @patient.habitual_type %>
</p>

<p>
  <strong>Marital status:</strong>
  <%= @patient.marital_status %>
</p>

<p>
  <strong>Insurance type:</strong>
  <%= @patient.insurance_type %>
</p>

<p>
  <strong>Insurance number:</strong>
  <%= @patient.insurance_number %>
</p>

<p>
  <strong>Blood type:</strong>
  <%= @patient.blood_type %>
</p>

<p>
  <strong>Allergy history:</strong>
  <%= @patient.allergy_history %>
</p>

<p>
  <strong>Vaccination history:</strong>
  <%= @patient.vaccination_history %>
</p>

<p>
  <strong>Disease history:</strong>
  <%= @patient.disease_history %>
</p>

<p>
  <strong>Heredopathia history:</strong>
  <%= @patient.heredopathia_history %>
</p>

<p>
  <strong>Health risk factor:</strong>
  <%= @patient.health_risk_factor %>
</p>

<p>
  <strong>Is handicapped:</strong>
  <%= @patient.is_handicapped %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
