<!DOCTYPE html>
<html>
<head>
  <title>Rails4version</title>
  <%= stylesheet_link_tag    "application"%>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "/extjs4/ext-all.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
